.movie-name {
text-align: left;
font: normal normal normal 24px/31px Georgia;
letter-spacing: -0.6px;
color: #000000;
text-transform: capitalize;
opacity: 1;
}

.rating{
    text-align: left;
    font: normal normal normal 19px/31px Arial;
    color: #000000;
    padding: 20px;
    height: 80px;
    text-transform: capitalize;
    opacity: 1;
} 
.icon {
  width: 30px;  
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
}

.movie-card {
    width: 200px; 
    height: 450px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  } 

.movie-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

.btn
{border: 1px solid #000000;
    border-radius: 100px;
    opacity: 1;
    background-color:transparent ;
    width: 100%;
}